.myDiv {
    border: 1px outset red;
    background-color: lightblue;
     }

.myDiv2 {
    border: 5px outset rgb(20, 206, 60);
    background-color: lightblue;
    }     

.myDiv3 {
    border: 5px outset blue;
    background-color: lightblue;
    }    